// GOOGLE FONTS
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap");

/* --**VARIABLES CSS**-- */
:root {
    // colors
    --text-color: hsl(237, 18%, 59%);
    --counter-color: hsl(345, 95%, 68%);
    --title-color: hsl(0, 0%, 100%);
    --square-color: hsl(236, 21%, 26%);
    --square-color-alt: hsl(235, 16%, 14%);
    --body-color: hsl(234, 17%, 12%);

    //font and typography

    --body-font: "Red Hat Text", sans-serif;

    --biggest-font-size: 3.5rem;
    --big-font-size: 3rem;
    --huge-font-size: 1.75rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.75rem;

    @media screen and (min-width: 968px) {
        --big-font-size: 4.5rem;
        --biggest-font-size: 6rem;
        --huge-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.75rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: 0.875rem;
    }

    //font weight

    --font-bold: 700;

    //Margin
    --mb-1: 0.5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    --mb-6: 3rem;

    //z-index
    --z-back: -10;
    --z-normal: 1;
    --z-tooltip: 10;
    --z-fixed: 100;
}
/* --**BASIC**-- */

*,
::before,
::after {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
    line-height: 1.6;
}
h1,
h2,
h3,
ul,
p {
    margin: 0;
}
h1,
h2,
h3 {
    font-weight: var(--font-bold);
    color: var(--title-color);
}
ul {
    padding: 0;
    list-style: none;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
    height: auto;
    //display: block;
}

/* --**IMG**-- */
.hills__img {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 25vh;
}

/* --**LAYOUT**-- */
.container {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
}
.grid {
    display: grid;
    gap: 1.5rem;
}
.main {
    width: 100%;
    height: 100vh;
    background-image: url(/images/bg-stars.svg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
}

/* --**TIMER**-- */
.timer {
    // border: 1px solid white;

    &__container {
        // border: 1px solid red;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        min-height: 300px;
        padding: 0 1rem;
    }
    &__title {
        text-align: center;
        font-size: var(--huge-font-size);
        margin-bottom: var(--mb-5);
        text-transform: uppercase;
        letter-spacing: 0.3rem;
    }
    &__content {
        display: flex;
        justify-content: space-around;
        align-items: center;

        min-height: 100px;
    }
}
.count {
    background-color: var(--square-color);
    padding: 0 0.3rem;
    margin-bottom: var(--mb-2);
    &__text {
        text-align: center;
        font-size: 0.5rem;
        text-transform: uppercase;
        letter-spacing: 0.175rem;
    }
    &__days,
    &__hours,
    &__minutes,
    &__seconds {
        color: var(--counter-color);
        font-size: var(--big-font-size);
        text-align: center;
    }
}

/* --**SOCIALS**-- */
.socials {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: var(--z-fixed);
    grid-template-columns: repeat(3, 1fr);

    &__icon {
        color: var(--text-color);
        font-size: var(--h1-font-size);
        &:hover {
            color: var(--counter-color);
        }
    }
}

/* --**MEDIA QUERIES**-- */
// zmienic w hills__img height na mniejszy vh
// w count dac wiekszy padding
// w h1 zmiejszyc czcionke
// count__text zmienic fontsize na small
