// GOOGLE FONTS
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap");

/* --**VARIABLES CSS**-- */
:root {
    // colors
    --text-color: hsl(237, 18%, 59%);
    --counter-color: hsl(345, 95%, 68%);
    --title-color: hsl(0, 0%, 100%);
    --square-color: hsl(236, 21%, 26%);
    --square-color-alt: hsl(235, 16%, 14%);
    --body-color: hsl(234, 17%, 12%);

    //font and typography

    --body-font: "Red Hat Text", sans-serif;

    --biggest-font-size: 3.5rem;
    --big-font-size: 3rem;
    --huge-font-size: 1.75rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.75rem;

    @media screen and (min-width: 968px) {
        --big-font-size: 4.5rem;
        --biggest-font-size: 6rem;
        --huge-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.75rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: 0.875rem;
    }

    //font weight

    --font-bold: 700;

    //Margin
    --mb-1: 0.5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    --mb-6: 3rem;

    //z-index
    --z-back: -10;
    --z-normal: 1;
    --z-tooltip: 10;
    --z-fixed: 100;
}
/* --**BASIC**-- */

*,
::before,
::after {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
    line-height: 1.6;
}
h1,
h2,
h3,
ul,
p {
    margin: 0;
}
h1,
h2,
h3 {
    font-weight: var(--font-bold);
    color: var(--title-color);
}
ul {
    padding: 0;
    list-style: none;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
    height: auto;
    //display: block;
}

/* --**IMG**-- */
.hills__img {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 25vh;
    z-index: -1;
}

/* --**LAYOUT**-- */
.container {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
}
.grid {
    display: grid;
    gap: 1.5rem;
}
.main {
    width: 100%;
    min-height: 100vh;
    background-image: url(./images/bg-stars.svg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
}

/* --**TIMER**-- */
.timer {
    &__container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        padding: 0 1rem;
    }
    &__title {
        text-align: center;
        font-size: var(--huge-font-size);
        margin-bottom: var(--mb-5);
        text-transform: uppercase;
        letter-spacing: 0.3rem;
    }
    &__content {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}

/* --**Count data**-- */
.count {
    background-color: var(--square-color);
    padding: 0 0.5rem;
    width: 105px;
    margin-bottom: var(--mb-2);
    box-shadow: 0px 8px 0px 0px #16151d;
    &__text {
        text-align: center;
        font-size: 0.5rem;
        text-transform: uppercase;
        letter-spacing: 0.175rem;
    }
    &__days,
    &__hours,
    &__minutes,
    &__seconds {
        color: var(--counter-color);
        font-size: var(--big-font-size);
        text-align: center;
    }
}

/* --**SOCIALS**-- */
.socials {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: var(--z-fixed);
    grid-template-columns: repeat(3, 1fr);

    &__icon {
        color: var(--text-color);
        font-size: var(--h1-font-size);
        &:hover {
            color: var(--counter-color);
        }
    }
}

/* --**BUTTON**-- */
.btn {
    background-color: var(--square-color);
    cursor: pointer;
    border-radius: 1rem;
    &__icon {
        font-size: var(--big-font-size);
        color: var(--counter-color);
        cursor: pointer;
        &:hover {
            color: black;
        }
    }
    &:hover {
        background-color: rgba(173, 10, 10, 0.89);
    }
}

/* --**Graphic element**-- */
.circle-elem {
    position: relative;
}
.circle-elem::before,
.circle-elem::after {
    content: "";
    position: absolute;
    z-index: 6;
    top: calc(50% - 10px);
    background: var(--body-color);
    border-radius: 50%;
    width: 10px;
    height: 10px;
}

.circle-elem::before {
    left: -5px;
}

.circle-elem::after {
    right: -5px;
}
.circle-elem > p {
    position: absolute;
    left: 0;
    right: 0;
}

/* --**MEDIA QUERIES**-- */

// for small/mobile devices
@media screen and (max-width: 596px) {
    .main {
        min-height: 125vh;
    }
    .timer {
        &__title {
            margin-top: var(--mb-5);
            margin-bottom: 0;
        }
        &__content {
            flex-direction: column;
            margin-bottom: var(--mb-6);
        }
        &__days,
        &__hours,
        &__minutes,
        &__seconds {
            display: grid;
        }
    }
    .count__text {
        order: -1;
        margin-bottom: var(--mb-1);
    }
    .btn {
        margin-bottom: var(--mb-5);
    }
}
// for medium and large device
@media screen and (min-width: 968px) {
    .container {
        max-width: 968px;
        margin-left: auto;
        margin-right: auto;
    }
    .count {
        width: 150px;
        &__text {
            font-size: var(--small-font-size);
        }
    }
    .timer__title {
        font-size: var(--h2-font-size);
        margin-bottom: 6rem;
    }
    .circle-elem::before,
    .circle-elem::after {
        width: 12px;
        height: 12px;
    }
}
